@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  font-family: 'Poppins', sans-serif;
  color: #E5E7EB;
}

/* Custom style for map tooltips */
.permanent-tooltip {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border: 1px solid rgba(250, 204, 21, 0.5) !important;
  color: #FFFFFF !important;
  padding: 4px 8px !important;
  border-radius: 4px !important;
  white-space: nowrap !important;
  box-shadow: none !important;
}

/* Add this to the bottom of src/index.css to remove the focus outline */
a:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}